@model CocoFarm.Models.Produs
<div>
    @Html.LabelFor(model => model.Denumire)
    @Html.EditorFor(model => model.Denumire)
</div>
<div>
    @Html.LabelFor(model => model.Cod)
    @Html.EditorFor(model => model.Cod)
</div>
<div>
    @Html.LabelFor(model => model.Descriere)
    @Html.EditorFor(model => model.Descriere)
</div>
<div>
    @Html.LabelFor(model => model.Pret)
    @Html.EditorFor(model => model.Pret)
</div>